@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-dark-black {
  background-color: #030305;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 22 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 32 100% 98%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 0 0% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 18px;
  }
}

* {
  font-family: var(--font-nunito), sans-serif;
  color: white;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* background-color: #030305; */
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}

/* стили style.css */
body {
  margin: 0px;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
}

.menu {
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  /* margin-left: 100px; */
  margin-right: 100px;
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.topmenu {
  display: flex; /* Используйте Flexbox */
  justify-content: flex-start; /* Расположение элементов по началу (слева) */
  list-style-type: none; /* Убираем маркеры списков */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем внешние отступы */
}

.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  top: 40%;
}
.logo {
  width: 363px;
  height: 165px;
  margin-left: 50px;
  margin-top: -40px;
}

.topmenu > li > a.top1 {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  white-space: nowrap;
  padding-left: 50px; /* поменял */
}
.topmenu > li > a.top2 {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  padding-left: 50px; /* поменял */
}
.topmenu > li > a.top3 {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  padding-left: 50px; /* поменял */
}
.topmenu > li > a.top4 {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  padding-left: 50px; /* поменял */
}
.topmenu > li > button.top4 {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  padding-left: 12px; /* поменял */
}
.topmenu li a.top1:hover {
  color: #1dab5f;
}
.topmenu li a.top2:hover {
  color: #1dab5f;
}
.topmenu li a.top3:hover {
  color: #1dab5f;
}
.topmenu li a.top4:hover {
  color: #1dab5f;
}

.topmenu > li > a.top1:active {
  color: #1dab5f;
}
.topmenu > li > a.top2:active {
  color: #1dab5f;
}
.topmenu > li > a.top3:active {
  color: #1dab5f;
}
.topmenu > li > a.top4:active {
  color: #1dab5f;
}
/* конец style.css */
